[*.cs]
dotnet_diagnostic.CA2000.severity = suggestion
dotnet_diagnostic.CA5394.severity = suggestion # Do not use insecure randomness

[*Collection.cs]
dotnet_diagnostic.CA1812.severity = suggestion # {0} is an internal class that is apparently never instantiated.
