[*.cs]
csharp_style_namespace_declarations = file_scoped:warning
dotnet_diagnostic.CA5394.severity = suggestion # Do not use insecure randomness

[*Collection.cs]
dotnet_diagnostic.CA1812.severity = suggestion # Avoid uninstantiated internal classes

[Shared/**/*.cs]
dotnet_diagnostic.CA1510.severity = none # Use 'ArgumentNullException.ThrowIfNull'

[*{Test,Tests}.cs]
dotnet_diagnostic.CA1707.severity = none # Identifiers should not contain underscores
resharper_inconsistent_naming_highlighting = none # InconsistentNaming
