[*.cs]
dotnet_diagnostic.CA1000.severity = none # Do not declare static members on generic types

[{ArraySegmentEnumerator,CompactSet,Int32Set}.cs]
resharper_condition_is_always_true_or_false_highlighting = none # ConditionIsAlwaysTrueOrFalse

[Int32Dictionary_*.cs]
dotnet_diagnostic.CS8767.severity = suggestion # Nullability of type of parameter doesn't match implicitly implemented member (possibly because of nullability attributes).
resharper_condition_is_always_true_or_false_highlighting = none # ConditionIsAlwaysTrueOrFalse

[Int32*Dictionary*.cs]
dotnet_diagnostic.CA1711.severity = none
