[*.cs]
dotnet_diagnostic.CA1000.severity = none # Do not declare static members on generic types

[ArrayPrefix.cs]
dotnet_diagnostic.CA1034.severity = suggestion # Nested types should not be visible
dotnet_diagnostic.CA1062.severity = suggestion # Validate arguments of public methods
dotnet_diagnostic.CA1815.severity = suggestion # Override equals and operator equals on value types
dotnet_diagnostic.CA1819.severity = suggestion # Properties should not return arrays
dotnet_diagnostic.CA2225.severity = suggestion # Operator overloads have named alternates

[{ArrayPrefix,ArrayPrefixEnumerator,ArraySegmentEnumerator,CompactSet,Int32Set}.cs]
resharper_condition_is_always_true_or_false_highlighting = none # ConditionIsAlwaysTrueOrFalse

[Int32Dictionary_*.cs]
dotnet_diagnostic.CS8767.severity = suggestion # Nullability of type of parameter doesn't match implicitly implemented member (possibly because of nullability attributes).
resharper_condition_is_always_true_or_false_highlighting = none # ConditionIsAlwaysTrueOrFalse

[Int32*Dictionary*.cs]
dotnet_diagnostic.CA1711.severity = none
