[*.cs]
dotnet_diagnostic.CA1000.severity = silent # Do not declare static members on generic types
dotnet_diagnostic.CA1815.severity = silent # Override equals and operator equals on value types
resharper_unused_type_parameter_highlighting = hint

[*fsHandler.cs]
dotnet_diagnostic.CA1003.severity = suggestion # Use generic event handler instances

[Color.cs]
dotnet_diagnostic.CA1028.severity = suggestion # Enum Storage should be Int32
dotnet_diagnostic.CS1591.severity = suggestion # Missing XML comment for publicly visible type or member
