[*.cs]
dotnet_diagnostic.CA1000.severity = silent # Do not declare static members on generic types
dotnet_diagnostic.CA1815.severity = silent # Override equals and operator equals on value types
resharper_unused_type_parameter_highlighting = hint
