[*.cs]
dotnet_diagnostic.CA1000.severity = none # Do not declare static members on generic types
dotnet_diagnostic.CA1815.severity = suggestion # Override equals and operator equals on value types

[EnumerableAStar_6.cs]
resharper_assign_null_to_not_null_attribute_highlighting = none # AssignNullToNotNullAttribute

[EnumerableAStar_7.cs]
dotnet_diagnostic.CA1062.severity = suggestion # Validate arguments of public methods

[{DummyEqualityComparer,EnumerableAStar*,MinHeap}.cs]
resharper_condition_is_always_true_or_false_highlighting = none # ConditionIsAlwaysTrueOrFalse
